.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: green;
  color: greenyellow;
  height: 12%;
  font-family: 'Pacifico', sans-serif;
}